################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DJsRaidOverhaul/.vs/DJsRaidOverhaul/DesignTimeBuild/.dtbcache.v2
/DJsRaidOverhaul/.vs/DJsRaidOverhaul/FileContentIndex/041ae399-ba19-47ce-88f0-a6d990bcb1f3.vsidx
/DJsRaidOverhaul/.vs/DJsRaidOverhaul/FileContentIndex/705e3bae-590b-47dd-9e9b-8d07b80a288a.vsidx
/DJsRaidOverhaul/.vs/DJsRaidOverhaul/FileContentIndex/87488f21-2a58-4287-b72b-80c103371a7b.vsidx
/DJsRaidOverhaul/.vs/DJsRaidOverhaul/FileContentIndex/8cf2222c-5ef1-414b-b312-cefc9e9c4863.vsidx
/DJsRaidOverhaul/.vs/DJsRaidOverhaul/FileContentIndex/read.lock
/DJsRaidOverhaul/.vs/DJsRaidOverhaul/v17/.futdcache.v2
/DJsRaidOverhaul/.vs/DJsRaidOverhaul/v17/.suo
/DJsRaidOverhaul/.vs/ProjectEvaluation/djsraidoverhaul.metadata.v7.bin
/DJsRaidOverhaul/.vs/ProjectEvaluation/djsraidoverhaul.projects.v7.bin
/DJsRaidOverhaul/bin/Debug/net472/0Harmony.dll
/DJsRaidOverhaul/bin/Debug/net472/aki-custom.dll
/DJsRaidOverhaul/bin/Debug/net472/Aki.Common.dll
/DJsRaidOverhaul/bin/Debug/net472/Aki.Reflection.dll
/DJsRaidOverhaul/bin/Debug/net472/AnimationSystem.Types.dll
/DJsRaidOverhaul/bin/Debug/net472/Assembly-CSharp.dll
/DJsRaidOverhaul/bin/Debug/net472/BepInEx.dll
/DJsRaidOverhaul/bin/Debug/net472/Comfort.dll
/DJsRaidOverhaul/bin/Debug/net472/DJsRaidOverhaul.dll
/DJsRaidOverhaul/bin/Debug/net472/DJsRaidOverhaul.pdb
/DJsRaidOverhaul/bin/Debug/net472/ItemComponent.Types.dll
/DJsRaidOverhaul/bin/Debug/net472/Newtonsoft.Json.dll
/DJsRaidOverhaul/bin/Debug/net472/Sirenix.Serialization.dll
/DJsRaidOverhaul/bin/Debug/net472/Unity.TextMeshPro.dll
/DJsRaidOverhaul/bin/Debug/net472/UnityEngine.AnimationModule.dll
/DJsRaidOverhaul/bin/Debug/net472/UnityEngine.AssetBundleModule.dll
/DJsRaidOverhaul/bin/Debug/net472/UnityEngine.AudioModule.dll
/DJsRaidOverhaul/bin/Debug/net472/UnityEngine.CoreModule.dll
/DJsRaidOverhaul/bin/Debug/net472/UnityEngine.dll
/DJsRaidOverhaul/bin/Debug/net472/UnityEngine.IMGUIModule.dll
/DJsRaidOverhaul/bin/Debug/net472/UnityEngine.TextRenderingModule.dll
/DJsRaidOverhaul/bin/Debug/net472/UnityEngine.UI.dll
/DJsRaidOverhaul/Dependencies/0Harmony.dll
/DJsRaidOverhaul/Dependencies/aki-custom.dll
/DJsRaidOverhaul/Dependencies/Aki.Common.dll
/DJsRaidOverhaul/Dependencies/Aki.Reflection.dll
/DJsRaidOverhaul/Dependencies/AnimationSystem.Types.dll
/DJsRaidOverhaul/Dependencies/Assembly-CSharp.dll
/DJsRaidOverhaul/Dependencies/BepInEx.dll
/DJsRaidOverhaul/Dependencies/Comfort.dll
/DJsRaidOverhaul/Dependencies/ItemComponent.Types.dll
/DJsRaidOverhaul/Dependencies/Newtonsoft.Json.dll
/DJsRaidOverhaul/Dependencies/Sirenix.Serialization.dll
/DJsRaidOverhaul/Dependencies/Unity.TextMeshPro.dll
/DJsRaidOverhaul/Dependencies/UnityEngine.AnimationModule.dll
/DJsRaidOverhaul/Dependencies/UnityEngine.AssetBundleModule.dll
/DJsRaidOverhaul/Dependencies/UnityEngine.AudioModule.dll
/DJsRaidOverhaul/Dependencies/UnityEngine.CoreModule.dll
/DJsRaidOverhaul/Dependencies/UnityEngine.dll
/DJsRaidOverhaul/Dependencies/UnityEngine.IMGUIModule.dll
/DJsRaidOverhaul/Dependencies/UnityEngine.TextRenderingModule.dll
/DJsRaidOverhaul/Dependencies/UnityEngine.UI.dll
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.AssemblyInfoInputs.cache
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.assets.cache
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.csproj.AssemblyReference.cache
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.csproj.CopyComplete
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.csproj.CoreCompileInputs.cache
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.csproj.FileListAbsolute.txt
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.dll
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.GeneratedMSBuildEditorConfig.editorconfig
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.pdb
/DJsRaidOverhaul/obj/DJsRaidOverhaul.csproj.nuget.dgspec.json
/DJsRaidOverhaul/obj/DJsRaidOverhaul.csproj.nuget.g.props
/DJsRaidOverhaul/obj/DJsRaidOverhaul.csproj.nuget.g.targets
/DJsRaidOverhaul/obj/project.assets.json
/DJsRaidOverhaul/obj/project.nuget.cache
/DJsRaidOverhaul/obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/DJsRaidOverhaul/obj/Debug/net472/DJsRaidOverhaul.AssemblyInfo.cs
